<li>
  <div class="input-group">
    <label class="input-group-text form-control"><%= user.name %></label>
    <% unless Friendship.reacted?(current_user.id, user.id) %>
    <%= link_to send_friend_request_path(user) do %>
      <button class="btn btn-primary" type="button" id="button-addon2">send request</button>
    <% end %>
    <% end %>
  </div>
</li>