<% unless user == current_user %>
<li>
  <div class="input-group">
 
    <label class="input-group-text form-control"> <%= link_to user_path(user) do %><%= user.name %><% end %></label>
  
    <% unless Friendship.reacted?(current_user.id, user.id) %>
    <%= link_to send_friend_request_path(user) do %>
      <button class="btn btn-primary" type="button" id="button-addon2">send request</button>
    <% end %>
    <% end %>
  </div>
</li>
<% end %>